@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';

.preview-img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}
