@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';
@import '~select2/dist/css/select2.css';
@import '~select2-bootstrap-theme/dist/select2-bootstrap.min.css';
@import '~leaflet/dist/leaflet.css';

.preview-img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

.logo {
  padding: 10px;

  img {
    max-width: 100%;
  }
}

.site-logo {
  max-width: 100%;
}
