.square-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: #ccc;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eff1f3;
}

.overlay-container {

  position: relative;

  .overlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
  }
}