.container-admin-list {

  h1.title {
    font-size: 25px;
    color: #212529;
    font-weight: bold;
    margin-bottom: 5px;
  }

  h4.subtitle {
    color: #8a9299;
    font-size: 12px;
  }

  #filters-form {

    display: none;
    margin-top: 20px;

    .filters-list {
      margin-bottom: 5px;
      margin-top: 15px;
    }

    .filter {
      display: none; // flex
      align-items: center;
      margin-bottom: 15px;

      label {
        width: 200px;
      }

      .form-control {
        width: 330px;
      }

      .removeFilter {
        margin-left: 15px;
        font-size: 18px;
        color: #ccc;
        cursor: pointer;
      }
    }
  }

  #filters-menu {
    a.dropdown-item:hover, a.dropdown-item:focus {
      background-color: #f44336;
      color: #fff;
    }

    .dropdown-item.selected {
      display: none;
    }
  }
}